.orderSummery-container{
    /* border: 1px solid red; */
    width: 774px;
    height: 237px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    /* justify-content: space-around; */
}

.orderSummery-text{
    /* border: 1px solid red; */
    width: 70%;
    height: 15%;
    position: relative;
    left: 40px;
    font-weight: 700;
}

.orderSummery-orderData{
    /* border: 1px solid red; */
    width: 40%;
    height: 67%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    position: relative;
    top: 20px;
    /* justify-content: center; */
}

